@import "../../main-styles/Variables.scss";

.movie-list {
  .no-movies {
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 20px;
  }
  .card-container {
    display: flex;
    flex-wrap: wrap;
  }
}
