@import "../../main-styles/Variables.scss";

.cast-list-container {
  display: flex;
  flex-wrap: wrap;
  @media (max-width: $mobile) {
    padding: 0px 10px;
  }
  .cast-listing {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    @media (max-width: $mobile) {
      width: 100%;
    }
    .headshot-container {
      width: 130px;
      margin-right: 20px;
      @media (max-width: $small-mobile) {
        margin-right: 10px;
      }
      img {
        width: 100%;
        height: auto;
        border-radius: 5px;
      }
    } // .headshot-container
    .name-character {
      .actor-name {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 10px;
        @media (max-width: $mobile) {
          font-size: 2.5rem;
        }
      }
      .character {
        font-size: 1.5rem;
        @media (max-width: $mobile) {
          font-size: 2rem;
        }
      }
    } // .name-character
  } // .cast-listing
}
