@import "../../main-styles/Variables.scss";

.movie-card {
  width: 25%;
  margin-bottom: 20px;
  @media (max-width: $mobile) {
    width: 33%;
  }
  .card-img-container {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
    box-shadow: $card-shadow;
    transition: $card-hover-transition;
    &:hover {
      transform: scale(1.01);
      box-shadow: $hover-shadow;
      cursor: pointer;
    }
    img {
      width: 100%;
      height: auto;
      border-radius: 5px;
    }
  } // .card-img-container
  .no-poster-title {
    text-align: center;
    font-size: 2rem;
    @media (max-width: $mobile) {
      font-size: 1.75rem;
    }
  }
}
