@import "./Variables.scss";

* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: $app-font;
  background-color: $app-background;
  color: white;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
