// font variables
$app-font: "Roboto", sans-serif;

// color variables
$app-background: #081c25;
$input-background: #111b1a;
$green-highlight: #01d277;

// mobile responsive variables
$mobile: 700px;
