@import "../../main-styles/Variables.scss";

.button-container {
  width: 30%;
  margin: 0 auto;
  display: flex;
  padding-bottom: 20px;
  justify-content: space-between;
  @media (max-width: $mobile) {
    width: 67%;
  }
  button {
    border: 1px solid $green-highlight;
    border-radius: 5px;
    color: white;
    background-color: $green-highlight;
    padding: 10px 35px;
    font-size: 1.5rem;
    box-shadow: $card-shadow;
    transition: $card-hover-transition;
    &:hover {
      cursor: pointer;
      transform: scale(1.01);
      box-shadow: $hover-shadow;
      background-color: lighten($color: $green-highlight, $amount: 5%);
      border-color: lighten($color: $green-highlight, $amount: 5%);
    }
    &:focus {
      outline: none;
    }
    &:disabled {
      background-color: $app-background;
      &:hover {
        cursor: default;
        transform: none;
        box-shadow: none;
        background-color: $app-background;
        border-color: $green-highlight;
      }
    } // button:disabled
  } // button
} // .button-container
