@import "../../main-styles/Variables.scss";

.movie-details-container {
  border-radius: 10px;
  height: 90vh;
  margin-bottom: 20px;
  box-shadow: $card-shadow;
  transition: $card-hover-transition;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &:hover {
    transform: scale(1.01);
    box-shadow: $hover-shadow;
  }
  .details-info {
    padding: 40vh 0px 0px 30px;
    .details-title {
      font-size: 5rem;
      font-weight: 700;
      margin-bottom: 5px;
    }
    .date-time-vote {
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;
      p {
        margin-right: 20px;
        font-size: 2rem;
      }
    }
    .genre-list {
      display: flex;
      flex-direction: row;
      margin-bottom: 30px;
      li {
        margin-right: 10px;
        font-size: 1.5rem;
      }
    } // .genre-list
    .details-overview {
      font-size: 2rem;
      width: 70%;
    }
  } // .details-info
  .details-link-shadow {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4));
    .details-link-container {
      width: 50%;
      margin: 0 auto;
      padding: 15px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      a {
        font-size: 2rem;
        color: white;
        text-decoration: none;
      }
      .active {
        color: $green-highlight;
      }
    } // .details-link-container
  }
}
